.star {
    font-size: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 2s;
    color: #fff762;
    border-radius: 50%;
}

.star:focus {
    outline: none;
    text-shadow: 1px 1px 10px #fff762;
}